/* 全体 */
* {
  font-size: 14px;
  line-height: 1.5em;
  color: #333;
}

p {
  margin-bottom: 15px;
}

i.fab, i.fas {
  width: 16px;
  margin-right: 10px;
  text-align: center;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  font-family: "Open sans", sans-serif;
}
header {
  font-weight: bold;
}

/* aタグ */
a, a:hover {
  text-decoration: none;
}
a {
  color: #333;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}
a:hover {
  color: #ccc;
}

/* ナビリンク */
nav {
  background-color: #fff;
  width: 100%;
  padding: 20px 0;
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
  position: fixed;
  top: 0;
}
nav ul {
  text-align: center;
}
nav ul li{
  display: inline;
  margin: 10px;
}

/* ロゴ */
#logo {
  font-family: "Open sans", sans-serif;
  font-weight: bold;
  margin: 0 auto;
  height: 60vh;
  text-align: center;
  display: table;
}
#logo .logo-inner {
  display: table-cell;
  vertical-align: middle;
}
#logo .logo-title{
  font-size: 28px;
  letter-spacing: .30em;
  margin-bottom: 5px;
}
#logo .logo-desc{
  font-size: 10px;
  letter-spacing: .16em;
}

/* メインコンテンツ */
main {
  padding-top: 40px;
  text-align: center;
}
main section {
  padding-top: 30px;
  padding-bottom: 50px;
}
main section:nth-child(even) {
  background-color: #f7f7f7;
}
main h2 {
  font-family: "Open sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: .14em;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* プロフィール */
#profile .profile-content {
  margin: 0 auto;
  max-width: 85%;
}


/* スキル */
#skills .card {
  max-width: 85%;
  margin: 0 auto 20px;
}
#skills .card-desc {
  margin-bottom: 5px;

}
#skills .card-item {
  float: left;
  text-align: left;
  margin: 1.5%;
  padding: 15px;
  width: 30%;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
}
#skills .card-item h3 {
  font-family: "Open sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: .14em;
  margin-top: 15px;
  margin-bottom: 15px;
}
#skills .card p {
  font-size: small;
}


/* フッター */
footer {
  color: #ccc;
  background-color: #333;
  font-size: x-small;
  text-align: center;
  padding: 30px 0;
  margin-top: auto;
}
