// ==========================================================================
// フッター
// ==========================================================================
@import "../foundation/color";

#l-footer {
  font-family: "Open sans", sans-serif;
  color: $color-footer-text;
  background-color: $color-footer-background;
}
