/* ==========================================================================
  フッターのスタイル
========================================================================== */
footer {
  color: $color-footer-text;
  background-color: $color-footer-background;
  padding: 30px;
  margin-top: auto;
  font-size: small;
  text-align: center;
}
